/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.container {
  margin: 0 auto;
}
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 312px;
  border-bottom: 1px solid #F1F1F1;
}
.container .header .logo {
  margin-right: 318px;
}
.container .header .menu-control {
  display: none;
}
.container .header .menu-control:checked + .menu-btn .menu-open {
  display: none;
}
.container .header .menu-control:checked + .menu-btn .menu-close {
  display: inline;
}
.container .header .menu-control:not(:checked) + .menu-btn .menu-open {
  display: inline;
}
.container .header .menu-control:not(:checked) + .menu-btn .menu-close {
  display: none;
}
.container .header .menu-btn {
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 10px 5px;
}
.container .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.container .header .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  padding: 4px 8px;
  white-space: nowrap;
  position: relative;
}
.container .header .menu a:hover::before, .container .header .menu a:hover::after {
  content: "";
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  -webkit-box-reflect: below 16px;
}
.container .header .menu a:hover::before {
  left: 0;
  border-left: 1px solid #919191;
}
.container .header .menu a:hover::after {
  right: 0;
  border-right: 1px solid #919191;
}
.container .header .menu .current-page {
  font-weight: 600;
}
.container .header .menu .current-page::before, .container .header .menu .current-page::after {
  content: "";
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #919191;
  -webkit-box-reflect: below 16px;
}
.container .header .menu .current-page::before {
  left: 0;
  border-left: 1px solid #919191;
}
.container .header .menu .current-page::after {
  right: 0;
  border-right: 1px solid #919191;
}
@media (max-width: 1295px) {
  .container .header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 992px) {
  .container .header {
    padding: 8px 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .header .logo {
    margin-right: 0;
  }
  .container .header .menu-btn {
    display: block;
  }
  .container .header .menu {
    display: none;
  }
  .container .header .menu-control:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    row-gap: 24px;
    padding: 40px 0;
  }
}
.container .content {
  margin: 0 auto;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .blog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.container .blog-page .sidebar {
  width: 306px;
  background: #FAFAFA;
  padding: 80px;
  border-radius: 8px;
}
.container .blog-page .sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  white-space: nowrap;
}
.container .blog-page .sidebar ul a {
  font-size: 20px;
  color: #5B5B5B;
  display: inline-block;
}
.container .blog-page .sidebar ul a:hover {
  color: #1E1E1E;
  border-bottom: 2px solid #1E1E1E;
}
.container .blog-page .sidebar ul .current-page {
  color: #1E1E1E;
  border-bottom: 2px solid #1E1E1E;
}
@media (max-width: 992px) {
  .container .blog-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .blog-page .sidebar {
    width: 100%;
    padding: 20px 12px;
  }
  .container .blog-page .sidebar ul {
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    overflow-x: auto;
  }
  .container .blog-page .sidebar ul::-webkit-scrollbar {
    display: none;
  }
  .container .blog-page .sidebar ul a {
    font-size: 16px;
  }
}
.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
  padding: 80px 312px;
  border-top: 1px solid #FAFAFA;
}
.container .footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.container .footer .contact .logo {
  width: 120px;
}
.container .footer .contact p {
  font-size: 20px;
  color: #3B3B3B;
}
.container .footer .contact .email {
  color: #919191;
  line-height: 1.2;
}
.container .footer .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.container .footer .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  max-width: 306px;
  background: #FFF;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #C1C1C1;
  font-size: 20px;
  color: #3B3B3B;
}
.container .footer .button a:hover {
  color: #FFF;
  background: #3B3B3B;
}
.container .footer .button .form {
  background: #000;
  color: #FFF;
}
@media (max-width: 1295px) {
  .container .footer {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 992px) {
  .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 12px;
    row-gap: 40px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
    background-size: cover;
  }
  .container .footer .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.work .title {
  background: #FAFAFA;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 24px;
  z-index: 0;
}
.work .title .slogan {
  max-width: 670px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  position: relative;
}
.work .title .slogan h2 {
  font-size: 24px;
  color: #1E1E1E;
  text-align: center;
  z-index: 1;
}
.work .title .slogan h2 .marked {
  position: relative;
}
.work .title .slogan h2 .marked::after {
  position: absolute;
  content: "";
  width: 148px;
  height: 8px;
  left: -15px;
  bottom: 0;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
  z-index: -1;
}
.work .title .slogan::before, .work .title .slogan::after {
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
}
.work .title .slogan::before {
  top: -10px;
  left: -72px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true);
}
.work .title .slogan::after {
  bottom: -10px;
  right: -72px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true);
}
.work .title .slogan .mobile-br {
  display: none;
}
.work .title .experience-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.work .title .experience-block .experience-ex {
  width: 298px;
}
.work .title .experience-block .experience-ex p {
  color: #3B3B3B;
}
.work .title .experience-block .experience-ex .experience {
  color: #5B5B5B;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}
.work .title .experience-block .experience-ex .experience::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  border-bottom: 2px solid #C1C1C1;
  bottom: 0;
}
@media (max-width: 992px) {
  .work .title {
    padding: 40px 24px;
    row-gap: 40px;
  }
  .work .title .slogan {
    padding-top: 64px;
  }
  .work .title .slogan::before {
    width: 64px;
    height: 64px;
    left: 118px;
  }
  .work .title .slogan::after {
    display: none;
  }
  .work .title .slogan h2 {
    font-size: 20px;
  }
  .work .title .slogan h2 .marked::after {
    width: 108px;
    height: 6px;
    background-size: 108px 6px;
    left: -3px;
  }
  .work .title .slogan .mobile-br {
    display: block;
  }
  .work .title .experience-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.work .content {
  row-gap: 72px;
}
.work .content .content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 80px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.work .content .content-items img {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
  display: block;
  margin-bottom: 16px;
}
.work .content .content-items .text {
  padding: 0px 16px;
  color: #3B3B3B;
}
.work .content .content-items .text h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}
.work .content .content-items .text p {
  color: #919191;
  margin-bottom: 24px;
}
.work .content .content-items .text .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.work .content .content-items .text .tags li {
  background: #F1F1F1;
  border-radius: 16px;
  padding: 4px 12px;
  color: #3B3B3B;
}
.work .content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.work .content .pagination a {
  display: block;
  padding: 2px 13px;
  color: #3B3B3B;
  font-size: 24px;
  border-radius: 4px;
}
.work .content .pagination a:hover {
  color: #FFF;
  background: #1E1E1E;
}
.work .content .pagination .current {
  color: #FFF;
  background: #1E1E1E;
}
@media (max-width: 992px) {
  .work .content {
    padding: 80px 0;
  }
  .work .content .content-items .text h2 {
    font-size: 20px;
  }
}

.blog .content {
  row-gap: 80px;
}
.blog .content .title {
  margin: 0 auto;
}
.blog .content .title h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  color: #3B3B3B;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  position: relative;
  margin-bottom: 24px;
}
.blog .content .title h1::before, .blog .content .title h1::after {
  content: "";
  position: absolute;
  top: 16.5px;
  width: 100px;
  height: 6px;
}
.blog .content .title h1::before {
  left: -65%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true);
}
.blog .content .title h1::after {
  right: -65%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true);
}
@media (max-width: 992px) {
  .blog .content .title h1 {
    font-size: 24px;
    font-weight: bold;
  }
  .blog .content .title h1::before, .blog .content .title h1::after {
    top: 9px;
    width: 56px;
  }
  .blog .content .title h1::before {
    left: -25%;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true);
  }
  .blog .content .title h1::after {
    right: -25%;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true);
  }
}
.blog .content .title p {
  color: #919191;
}
.blog .content .blog-page {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.blog .content .blog-page .content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 64px;
}
.blog .content .blog-page .content-items .article {
  max-width: 966px;
}
.blog .content .blog-page .content-items .article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.blog .content .blog-page .content-items .article a img {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
  display: block;
}
.blog .content .blog-page .content-items .article a .text .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 16px;
}
.blog .content .blog-page .content-items .article a .text .detail .tags {
  background: #F1F1F1;
  border-radius: 16px;
  padding: 4px 12px;
  color: #3B3B3B;
}
.blog .content .blog-page .content-items .article a .text h2 {
  color: #3B3B3B;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.blog .content .blog-page .content-items .article a .text p {
  color: #3B3B3B;
}
@media (max-width: 992px) {
  .blog .content .title h1 {
    margin-bottom: 16px;
  }
  .blog .content .blog-page {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .blog .content .blog-page .sidebar {
    margin-bottom: 40px;
  }
  .blog .content .blog-page .content-items {
    width: 81%;
  }
  .blog .content .blog-page .content-items a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
  .blog .content .blog-page .content-items a .text {
    padding: 0 8px;
  }
}

.blog-content .blog-page {
  padding: 120px 12px 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 134px;
     -moz-column-gap: 134px;
          column-gap: 134px;
}
.blog-content .blog-page .content-items {
  max-width: 858px;
  color: #3B3B3B;
}
.blog-content .blog-page .content-items p {
  font-size: 20px;
  margin-bottom: 40px;
}
.blog-content .blog-page .content-items .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 40px;
}
.blog-content .blog-page .content-items .details p {
  font-size: 16px;
  color: #919191;
  margin-bottom: 0;
}
.blog-content .blog-page .content-items .author {
  font-size: 16px;
  margin-bottom: 0;
}
.blog-content .blog-page .content-items h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.blog-content .blog-page .content-items h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.blog-content .blog-page .content-items h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 64px;
}
.blog-content .blog-page .content-items .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
  text-align: center;
}
.blog-content .blog-page .content-items .images p {
  font-size: 16px;
  color: #5B5B5B;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .blog-content .blog-page {
    padding: 0 12px 40px;
  }
  .blog-content .blog-page .sidebar {
    margin-bottom: 32px;
  }
  .blog-content .blog-page .content-items .details {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    margin-bottom: 16px;
  }
  .blog-content .blog-page .content-items .details p {
    font-size: 16px;
    color: #919191;
  }
  .blog-content .blog-page .content-items .details .slash {
    display: none;
  }
  .blog-content .blog-page .content-items h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .blog-content .blog-page .content-items h3 {
    font-size: 20px;
  }
  .blog-content .blog-page .content-items h4 {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .blog-content .blog-page .content-items p {
    margin-bottom: 32px;
  }
  .blog-content .blog-page .content-items .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
    margin-bottom: 32px;
  }
  .blog-content .blog-page .content-items .images p {
    color: #919191;
  }
}
.blog-content .reference {
  padding: 0 312px 120px;
}
.blog-content .reference .articles {
  padding-top: 80px;
  border-top: 1px solid #C1C1C1;
}
.blog-content .reference .articles h2 {
  font-size: 28px;
  color: #3B3B3B;
  font-weight: bold;
  margin-bottom: 40px;
}
.blog-content .reference .articles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.blog-content .reference .articles ul a {
  display: block;
  color: #3B3B3B;
  max-width: 416px;
}
.blog-content .reference .articles ul a img {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
  display: block;
  margin-bottom: 16px;
}
.blog-content .reference .articles ul a .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px;
  row-gap: 16px;
}
.blog-content .reference .articles ul a .text h3 {
  font-size: 24px;
  font-weight: bold;
}
.blog-content .reference .articles ul a .text .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-content .reference .articles ul a .text .details .tags {
  background: #F1F1F1;
  border-radius: 16px;
  padding: 4px 12px;
  color: #3B3B3B;
}
.blog-content .reference .articles ul a .text .details .date {
  color: #5B5B5B;
}
@media (max-width: 1295px) {
  .blog-content .reference {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 992px) {
  .blog-content .reference {
    padding-bottom: 80px;
  }
  .blog-content .reference .articles {
    padding-top: 40px;
  }
  .blog-content .reference .articles h2 {
    font-size: 24px;
    text-align: center;
  }
  .blog-content .reference .articles ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 40px;
  }
  .blog-content .reference .articles ul a .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-content .reference .articles ul a .text .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blog-content .reference .articles ul a .text h3 {
    font-weight: 600;
  }
}