*, *::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: $line-height-relaxed;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    line-height: $line-height-snug;
}