@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: $line-height-relaxed;
    padding-top: 105px;
    @media (max-width: 992px){
        padding-top: 57px;
    }
}

a{
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6{
    line-height: $line-height-snug;
}