.blog{
    .content{
        row-gap: 80px;
        .title{
            margin: 0 auto;
            h1{
                @include title-text;
                margin-bottom: 24px;
            }
            p{
                color: $color-gray;
            }
        }
        .blog-page{
            justify-content: center;
            column-gap: 24px;
            .content-items{
                display: flex;
                flex-direction: column;
                row-gap: 64px;
                .article{
                    max-width: 966px;
                    a{
                        display: flex;
                        column-gap: 16px;
                        img{
                            @include article-img;
                        }
                        .text{
                            .detail{
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                column-gap: 16px;
                                margin-bottom: 16px;
                                .tags{
                                    @include tag;
                                }
                            }
                            h2{
                                color: $color-darker-gray;
                                font-size: $font-size-s;
                                font-weight: $font-weight-semi-bold;
                                margin-bottom: 16px;
                            }
                            p{
                                color: $color-darker-gray
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 992px){
            .title{
                h1{
                    margin-bottom: 16px;
                }
            }
            .blog-page{
                column-gap: 0;
                .sidebar{
                    margin-bottom: 40px;
                }
                .content-items{
                    width: 81%;
                    a{
                        flex-direction: column;
                        row-gap: 16px;
                        .text{
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
    }
}