.index{
    .hero{
        padding-left: 312px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .self-introduction{
            width: 27%;
            h1{
                color: $primary-700;
                font-size: $font-size-2l;
                font-weight: $font-weight-semi-bold;
                margin-bottom: 24px;
            }
            .work-experience{
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                margin-bottom: 16px;
                p{
                    color: $primary-600;
                    font-size: $font-size-s;
                    white-space: nowrap;
                }
                br{
                    display: none;
                }
                .marked{
                    padding: 0 8px;
                    position: relative;
                    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                }
            }
            .major{
                color: $primary-400;
                font-size: $font-size-xs;
                margin-bottom: 60px;
            }
            .social-media{
                display: flex;
                column-gap: 16px;
                a{
                    width: 56px;
                    height: 56px;
                }
            }
        }
        .hero-lg{
            max-width: 1154px;
            width: 72%;
        }
        .hero-sm{
            display: none;
        }
        @media (max-width: 1620px){
            padding-left: 156px;
            .self-introduction{
                .work-experience{
                    p{
                        white-space: normal;
                    }
                }
            }
        }
        @media (max-width: 1295px){
            padding-left: 40px;
        }
        @media (max-width: 992px){
            padding: 0;
            flex-direction: column-reverse;
            .self-introduction{
                width: 100%;
                padding: 40px 0;
                text-align: center;
                h1{
                    font-size: $font-size-xl;
                    font-weight: bold;
                }
                .work-experience{
                    br{
                        display: block;
                    }
                }
                .social-media{
                    justify-content: center;
                    a{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .hero-lg{
                display: none;
            }
            .hero-sm{
                display: block;
            }
        }
    }
    .works{
        @include container-title;
        padding-bottom: 0;
        .projects{
            .project-item{
                height: 800px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 55px;
                position: relative;
                z-index: 1;
                background-size: cover;
                img{
                    display: block;
                }
                .info{
                    width: 526px;
                    padding: 80px 40px 56px 40px;
                    border-radius: 24px;
                    backdrop-filter: blur(3px);
                    background: rgba(255, 255, 255, 0.1);
                    .text{
                        @include work-page-text-style;
                        text-align: left;
                        color: $primary-50;
                        border-bottom: 1px solid $primary-200;
                        margin-bottom: 40px;
                        .tags{
                            margin-bottom: 40px;
                        }
                    }
                    .more-btn{
                        @include more-btn-style;
                        max-width: 276px;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    z-index: -1;
                }
            }
            .interstellar{
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
                .picture{
                    margin-top: 80px;
                }
                &::before{
                    background: #272727;
                    opacity: 0.4;
                }
            }
            .app{
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
                img{
                    display: none;
                }
                .info{
                    margin-right: 636px;
                }
                &::before{
                    width: 50%;
                    background: #0A101380;
                }
            }
            .clinic{
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
                &::before{
                    background: #0D0C0780;
                }
            }
        }
        @media(max-width: 1320px){
            .projects{
                .project-item{
                    column-gap: 20px;
                    height: 600px;
                    .picture{
                        max-width: 520px;
                    }
                }
                .app{
                    .info{
                        margin-right: 360px;
                    }
                    &::before{
                        width: 60%;
                    }
                }
                
            }
        }
        @media(max-width: 992px){
            .projects{
                .project-item{
                    column-gap: 8px;
                    height: 500px;
                    .picture{
                        max-width: 420px;
                    }
                    .with-img{
                        width: 280px;
                    }
                    .info{
                        padding: 30px;
                    }
                }
                .app{
                    .info{
                        margin-right: 200px;
                    }
                    &::before{
                        width: 70%;
                    }
                }
            }
        }
        @media(max-width: 767px){
            .projects{
                .project-item{
                    height: 100%;
                    padding: 0;
                    column-gap: 0;
                    flex-direction: column;
                    .info{
                        margin: 0 auto;
                        padding: 24px;
                        width: 100%;
                        border-radius: 0;
                        backdrop-filter: blur(0);
                        background: #FFFFFF;
                        .text{
                            text-align: center;
                            border: 0;
                            margin-bottom: 20px;
                            h3{
                                color: $primary-800;
                            }
                            p{
                                color: $primary-600;
                                margin-bottom: 16px;
                            }
                            .tags{
                                justify-content: center;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .app{
                    background-image: none;
                    img{
                        display: inline-block;
                        width: 100%;
                    }
                }
                .clinic{
                    .picture{
                        margin: 60px 0;
                    }
                }
            }
        }
    }
    .services{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
        .service-items{
            margin-bottom: 80px;
        }
        .more{
            h3{
                color: $primary-700;
                font-size: $font-size-l;
                font-weight: $font-weight-semi-bold;
                margin-bottom: 40px;
            }
            .more-btn{
                @include more-btn-style;
                max-width: 276px;
            }
            @media (max-width: 992px){
                .more-btn{
                    max-width: 208px;
                }
            }
        }
    }
    .articles{
        @include container-title;
        .reference-article{
            a{
                text-align-last: left;
                @include reference-article-style;
            }
        }
        .swiper{
            .swiper-wrapper{
                margin-bottom: 52px;
            }
            .swiper-pagination{
                bottom: var(--swiper-pagination-bottom, 0);
                .swiper-pagination-bullet{
                    width: 12px;
                    height: 12px;
                    margin: 0 8px;
                }
                .swiper-pagination-bullet-active{
                    background: $primary-900;
                }
            }
        }
        .more-btn{
            display: none;
        }
        @media (max-width: 992px){
            .mobile-disable{
                display: none;
            }
            .swiper-wrapper{
                margin-bottom: 40px;
            }
            .swiper-pagination{
                display: none;
            }
            .more-btn{
                @include more-btn-style;
            }
        }
    }
}