.container{
    margin: 0 auto;
    .header{
        display: flex;
        align-items: center;
        padding: 32px 312px;
        border-bottom: 1px solid $primary-200;
        .logo{
            margin-right: 318px;
        }
        .menu-control{
            display: none;
            &:checked+.menu-btn{
                .menu-open{
                    display: none;
                }
                .menu-close {
                    display: inline;
                }
            }
            &:not(:checked)+.menu-btn{
                .menu-open{
                    display: inline;
                }
                .menu-close {
                    display: none;
                }
            }
        }
        .menu-btn {
            display: none;
            cursor: pointer;
            height: 40px;
            width: 40px;
            padding: 8px;
            color: $primary-900;
        }
        .menu{
            display: flex;
            column-gap: 40px;
            a{
                display: flex;
                color: $primary-900;
                padding: 4px 8px;
                white-space: nowrap;
                position: relative;
                &:hover{
                    @include box-corner;
                }
            }
            .current-page{
                font-weight: $font-weight-semi-bold;
                @include box-corner;
            }
        }
        @media(max-width: 1295px){
            padding-left: 12px;
            padding-right: 12px;
        }
        @media (max-width: 992px){
            padding: 8px 12px;
            justify-content: space-between;
            flex-wrap: wrap;
            .logo{
                margin-right: 0;
            }
            .menu-btn{
                display: block;
            }
            .menu{
                display: none;
            }
            .menu-control:checked~.menu{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                row-gap: 24px;
                padding: 40px 0;
            }
        }
    }
    .content{
        margin: 0 auto;
        padding: 120px 0;
        display: flex;
        flex-direction: column;
    }
    .work-page{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 80px;
        column-gap: 24px;
        img{
            @include article-img;
            margin-bottom: 16px;
        }
        .text{
            padding: 0px 16px;
            color: $primary-700;
            h2{
                font-size: $font-size-l;
                font-weight: bold;
                margin-bottom: 8px;
            }
            p{
                color: $primary-500;
                margin-bottom: 24px;
            }
            .tags{
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                li{
                    @include tag;
                }
            }
        }
        @media (max-width: 992px){
            .text{
                h2{
                    font-size: $font-size-s;
                }
            }
        }
    }
    .blog-page{
        display: flex;
        flex-direction: row-reverse;
        .sidebar{
            width: 306px;
            background: $primary-100;
            padding: 80px;
            border-radius: 8px;
            ul{
                display: flex;
                flex-direction: column;
                row-gap: 32px;
                white-space: nowrap;
                a{
                    font-size: $font-size-s;
                    color: $primary-600;
                    display: inline-block;
                    &:hover{
                        color: $primary-800;
                        border-bottom: 2px solid $primary-800;
                    }
                }
                .current-page{
                    color: $primary-800;
                    border-bottom: 2px solid $primary-800;
                }
            }
        }
        @media (max-width: 992px){
            flex-direction: column;
            align-items: center;
            .sidebar{
                width: 100%;
                padding: 20px 12px;
                ul{
                    text-align: center;
                    flex-direction: row;
                    column-gap: 32px;
                    overflow-x: auto;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    a{
                        font-size: $font-size-xs;
                    }
                }
                
            }
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
        padding: 80px 312px;
        border-top: 1px solid $primary-100;
        .contact{
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            .logo{
                width: 120px;
            }
            p{
                font-size: $font-size-s;
                color: $primary-700;
            }
            .email{
                color: $primary-500;
                line-height: $line-height-snug;
            }
        }
        .button{
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            a{
                display: flex;
                align-items: center;
                column-gap: 8px;
                max-width: 306px;
                background: $primary-50;
                padding: 8px 24px;
                border-radius: 8px;
                border: 1px solid $primary-400;
                font-size: $font-size-s;
                color: $primary-700;
                &:hover{
                    color: $primary-50;
                    background: $primary-700;
                }
            }
            .form{
                background: $primary-900;
                color: $primary-50;
            }
        }
        @media(max-width: 1295px){
            padding-left: 12px;
            padding-right: 12px;
        }
        @media (max-width: 992px){
            flex-direction: column;
            padding: 40px 12px;
            row-gap: 40px;
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
            background-size: cover;
            .contact{
                align-items: center;
            }
        }
    }
}