$color-lightest-gray: #F1F1F1;
$color-lighter-gray: #FAFAFA;
$color-light-gray: #C1C1C1;
$color-gray: #919191;
$color-dark-gray: #5B5B5B;
$color-darker-gray: #3B3B3B;
$color-darkest-gray: #1E1E1E;

$font-size-xl: 32px;
$font-size-l: 28px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;

$font-weight-semi-bold: 600;

$line-height-relaxed: 1.5;
$line-height-snug: 1.2;