$primary-50: #FFFFFF;
$primary-100: #FAFAFA;
$primary-200: #F1F1F1;
$primary-300: #E9E9E9;
$primary-400: #C1C1C1;
$primary-500: #919191;
$primary-600: #5B5B5B;
$primary-700: #3B3B3B;
$primary-800: #1E1E1E;
$primary-900: #000000;

$font-size-4l: 72px;
$font-size-3l: 48px;
$font-size-2l: 40px;
$font-size-xl: 32px;
$font-size-l: 28px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;

$font-weight-semi-bold: 600;

$line-height-relaxed: 1.5;
$line-height-snug: 1.2;